.App {
  text-align: center;
}

ul {
  list-style-type:none;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
}

.article-item {
  border-style: dashed;
  border-color:slategrey;
  border-width: 2px;
  background-color: bisque;
}

.article-item title {
  font-size: large;
  width: 100%;
  height: 1em;
  display: inline-block;
}

.article-item justify {
  text-align:justify;
}